
#mainDiv{
	background-color: #73dcfc;
	margin: auto;
	margin-top: 150px;
	/*border: 1px solid red;*/
	width: 1250px;
	height: 500px;
	display: flex;
	justify-content: center;
}

#mainDiv>div{
	/*border: 1px solid blue;*/
	/* background-color: red; */
	margin-top: 30px;
	width: 370px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 14px;
}

#secDiv1>p{
	    margin: 0px;
}
#secDiv1>p:nth-child(1){font-size: 28px;margin-top: 0px;font-weight: bolder;}
#secDiv1>p:nth-child(2){font-size: 18px;margin-top: 8px;font-weight: bold;}
#secDiv1>p:nth-child(3){font-size: 17px;margin-top: 7px;}
#secDiv1>p:last-child{font-size: 14px;margin-top: 7px;}

li{
	margin: 7px 0px;
}
#secDiv2{
	color: #404040;
	border: 2px solid white;
	margin-top: 10px;
	margin-bottom: 10px;
	background: linear-gradient(#72d9ff,#86ffe1);
}


.heading>p{
	text-align: center;
}

.heading>P:first-child{
	    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
        margin-top: 10px;
}
.heading>p:nth-child(2){
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.Login{
	margin: auto;
	width: 250px;
	display: flex;
	flex-direction: column;
}
.Login>p{
	margin: 0px;
}
.newUser{
	    font-size: 28px; 
      text-align: center;
}

.Login button{
  margin:16px 0px;
  /*background-color: #c2fbd7;*/
  background: linear-gradient(505deg,#fc1abd,#e19cfa,#72d9ff);
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Login button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/*.st1button{
	background: linear-gradient(505deg,#fc1abd,#e19cfa,#72d9ff)  !important;
}*/