*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    background-color:#EA80FC;
    height: 50px;
}
#maindiv{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

#logo{
    margin-left: 150px;
}
#button button{
  color: blue;
}

#body{
    background-color: aquamarine;
    height: 100vh;
    text-align: center;
}
#welcome{
    background-color: #90A4AE;
    width: 70%;
    margin: auto;
}